header.bg-indigo-600.p-4
    div.container.mx-auto.flex.justify-between.items-center
        //- Home icon/text
        include home
        
        //- Session operations
        include session

//- //- WTF Is this
//- div(class="bg-indigo-700 py-5 hidden lg:block")
//-     div(class="container mx-auto flex justify-between")
//-         a(href="/category/1" class="text-sm font-bold uppercase text-white") Houses 
//-         a(href="/category/1" class="text-sm font-bold uppercase text-white") Department 
//-         a(href="/category/1" class="text-sm font-bold uppercase text-white") Cellar 
//-         a(href="/category/1" class="text-sm font-bold uppercase text-white") Store 
//-         a(href="/category/1" class="text-sm font-bold uppercase text-white") Land 
//-         a(href="/category/1" class="text-sm font-bold uppercase text-white") Cottage 
//-         a(href="/category/1" class="text-sm font-bold uppercase text-white") Cabin 
