header.bg-indigo-600.p-4
    div.container.mx-auto.flex.justify-between.items-center
        //- Home icon/text
        include home
        
        //- Session operations
        include session/index
