block session
    //- Navigation bar
    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
        //- Navigation bar
        
        //- Status messages
        button(id="statusMessages:button") Status
            //- If there are more than zero unseen messages
            div(hidden)
                <p>(</p>
                //- Here show a number containing the amount of messages
                <p>)</p>
        include ../status_messages/index
        
        //- User
        if user
            a(href=`/user/property/admin`) My properties
            a(href=`/user/profile`) Profile
            a(class="bg-indigo-800 py-2 px-10 rounded-lg" href=`/auth/logout`) Log out
        else
            //- Doesn't work, don't know why, don't even want to know
            //- href=`${websiteInfo.baseUrl}/user/auth/login`
            a(
                id="navbar:session:login"
                class="bg-indigo-800 py-2 px-10 rounded-lg"
                href=`/auth/login`
            ) Log in

block scripts
    script(src=`/js/navbar/index.js`)
