extends ./index

block content
    div Upload property image debug
    
    p Track progress of uploaded images to the server 
    
    //- TODO: Create a database model to track the progress of a uploaded image
    
