//- Status messages
button(id="statusMessages:open") Status
    //- If there are more than zero unseen messages
    div(hidden)
        <p>(</p>
        //- Here show a number containing the amount of messages
        <p>)</p>

div(class="fixed mr-40 mt-40 bg-indigo-500 rounded shadow-gray-500 shadow-lg" id="statusMessages" hidden)
    //- Create tailwind definitions
    //- (You can't programmatically use tailwind)
    div(class="bg-pink-300 bg-green-300 rounded p-1 m-1 shadow-gray shadow" hidden)
    
    //- Messages
    if messages
        ul 
            //- Show messages
            - for(msg of messages)
                li(class=`${msg.error ? "bg-pink-300" : "bg-green-300"} rounded p-1 m-1 shadow-gray shadow`)
                    p=msg.message
    
    //- List of messages to be appended programmatically rather than be given on render
    ul(id="messageList")
    
    //- Top bar
    nav.flex-auto.m-1.p-1
        p Status messages
        button(
            id="statusMessages:close"
            class="rounded-lg p-2 inline mt-3 bg-sky-500 hover:bg-sky-300"
            ) Close

//- Controller
script(src="/js/controller/statusMessages.js")
