doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Good Roots | #{page}
        
        //- Package styles
        block styles
        
        //- Tailwind styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50
        //- Status messages
        //- These are static so others are not affected
        include components/status_messages/index
        
        //- Navbar
        include components/navbar/navbar
        
        //- Website main content
        main(class="mx-auto container mt-10 px-2")
            block content
        
        block scripts

