extends ../../index

block content 
    .py-10
        //- Title
        h1.text-4xl.my-10.font-extrabold.text-center Good
            span.font-normal Roots
        
        //- Page name
        h2.text-center.text-6xl= page
        
        //- Message
        p.text-xl.font-bold.text-center.my-10= message
