extends ../index

block content
    h1.font-bold.text-center User profile 
    
    if user
        p Name:
            div=user.name
        p E-Mail:
            div=user.email
    else
        p You're not logged in, click the 'Log in' button at the top right.
