extends ../index

block content
    div Examples
    
    //- For map related stuff
    navbar Maps
        ul.m-2 
            li 
                a(href="/examples/map/quick_start" class="text-sky-600") Quick start
            li 
                a(href="/examples/map/draggable_marker" class="text-sky-600") Draggable marker
            li 
                a(href="/examples/map/street_name" class="text-sky-600") Street name
            li 
                a(href="/examples/map/live_user" class="text-sky-600") Live user location
    
    //- For publishing files(I put publish image, but it's files in general)
    navbar Publish image
        ul.m-2
            li
                a(href="/examples/publish_image/multer_example" class="text-sky-600") Multer example
            li
                a(
                    href="/examples/publish_image/multer_multiple_images"
                    class="text-sky-600"
                ) Multer multiple images
            li
                a(
                    href="/examples/publish_image/dropzone"
                    class="text-sky-600"
                ) Dropzone
