block session
    //- Navigation bar
    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
        //- Navigation bar
        
        //- //- Status messages
        //- include ../../statusMessages
        
        //- Second attempt to show the navbar
        div(
            id="navbar:session:authenticatedNavbar"
            hidden=true
        )
            include sessionNavbar
        
        //- If the navbar is show, hide this one
        a(
            id="navbar:session:login"
            class="bg-indigo-800 py-2 px-10 rounded-lg"
            href=`/auth/login`
        ) Log in
        
        //- Blocks get overwritten by pages
        script(src=`/js/navbar/index.js`)

//- Blocks get overwritten by pages
//- block scripts
//-     script(src=`/js/navbar/index.js`)
