//- Property image
div(class="sm:w-1/4 md:w-1/6 lg:w-1/6")
    //- This has to be a component
    //- Id example: 1_image
    img(
        id=`${property.id}_image`
        alt=`Image of the property ${property.title}`
        class="w-full block"
    )
