//- Property list
//- 
//- Properties has to be on scope
div(class="bg-white shadow rounded-lg")
    ul(class="divide-y divide-gray-200")
        each property in properties
            li
                include ./display/row

